---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: prometheus
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - prometheus.sk8server.me
  rules:
    - backendRefs:
        - name: kube-prometheus-stack-prometheus
          namespace: observability
          port: 9090

