---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-path-provisioner
spec:
  chartRef:
    kind: OCIRepository
    name: local-path-provisioner
  interval: 1h
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    storageClass:
      create: true
      name: local-path
      defaultClass: true
      reclaimPolicy: Delete
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /var/local-path-provisioner
    helperPod:
      image:
        repository: rancher/local-path-provisioner
        tag: v0.0.28
    configmap:
      setup: |
        #!/bin/sh
        set -eu
        mkdir -p "$VOL_DIR"
      teardown: |
        #!/bin/sh
        set -eu
        rm -rf "$VOL_DIR"
      helperPod:
        image: rancher/local-path-provisioner
        tag: v0.0.28

