---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: gatus
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
      sectionName: https
  hostnames:
    - "${GATUS_SUBDOMAIN}.sk8server.me"
  rules:
    - backendRefs:
        - name: gatus
          namespace: observability
          port: 8080

