---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: woodpecker
  namespace: ci-cd
spec:
  interval: 1h
  path: ./kubernetes/apps/ci-cd/woodpecker/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false

