---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ci-cd
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/ci-cd
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false

